<table class = "pizzasection">
    <tr>
        <th rowspan="2">Toppings</th>
        <th colspan="4">Pizza Size</th>
    </tr>
    <tr>
        <td>Small($5)</td>
        <td>Medium($7)</td>
        <td>Large($8)</td>
        <td>Extra Large($9)</td>
    </tr>
    <tr>
        <td colspan="5">Veg Toppings</td>
    </tr>
    
    <tr id="Tomatoes">
        <th>Tomatoes ($1.00)</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Onions">
        <th>Onions ($0.50)</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Bell">
        <td>Bell pepper ($1.00)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Mushrooms">
        <td>Mushrooms ($1.20)</td>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
    <tr id="Pineapple">
        <td>Pineapple ($0.75)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>   
    <tr id="NonVeg">
        <td colspan="5">Non Veg Toppings</td>
    </tr>
    <tr id="Sausage">
        <td>Sausage ($1.00)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Pepperoni">
        <td>Pepperoni ($2.00)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Barbecue">
        <td>Barbecue chicken ($3.00)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td id="total" colspan="5">Total</td>
    </tr>
    <tr>
        <td>Offer</td>
        <td id="smalloffer"></td>
        <td id="mediumoffer"></td>
        <td id="largeoffer"></td>
        <td id="extralargeoffer"></td>
    </tr>
    <tr id="Total">
        <td></td>
        <td id="smalltotal"></td>
        <td id="mediumtotal"></td>
        <td id="largetotal"></td>
        <td id="extralargetotal"></td>
    </tr>
</table>
